extends ../../layouts/default
block vars
  - var path = '../'

block body

  h2  Article01

  p
    | Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.

    .rblock
      .row
        .span3
          h4 About Me
  
    h2
      | Ashok 
      span.rsmall
        span.color @
        |  Web Designer
