extends ../../layouts/default
block vars
  - var path = '../'

block body
  
  .content
    .container
      .row
         .span12
            <!-- Resume starts -->
            .resume
               .row
                .span12
                      h2
                        | Страница про бизнес-модель 
                        span.rsmall
                          span.color @
                          |  Web Designer
                      p
                        | Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.
                      hr
                      
                      .row
                       .span12
                      
                         <!-- About -->
                         .rblock
                            .row
                               .span3
                                  h4 Обо мне

                               .span9 
                                .rinfo
                                  h5 Дмитрий Марков
                                  rmeta Бизнес-консультант
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.
                                  .social.markov-about
                                    a(href='#')
                                      i.icon-facebook
                                    a(href='#')
                                      i.icon-twitter
                                    a(href='#')
                                      i.icon-linkedin
                                    a(href='#')
                                      i.icon-google-plus
                                    a(href='#')
                                      i.icon-pinterest
                      
                      .row
                       .span12
                         .rblock
                            .row
                               .span3
                                  h4 Видео
                               .span9 
                                .rinfo
                                  iframe(width='560', height='315', src='https://www.youtube.com/embed/mFu01_gKw5g', frameborder='0', allowfullscreen='')