extends ../../layouts/default
block vars
  - var path = '../'

block body

 .content
    .container
      .row
         .span12
            <!-- Resume starts -->
            .resume
               .row
                .span12
                      h2
                        | Бизнес-модель авиакомпании S7
                      p
                        
                      hr
                      .row
                       .span12
                      
                         <!-- About -->
                         .rblock
                            .row
                               .span3
                                  h4 История
                               .span9 
                                .rinfo
                                  | История авиакомпании началась в 1957 году с момента выполнения первого
                                  | гражданского рейса с военного аэродрома в Новосибирской области, находящегося в
                                  | составе Толмачёвского объединенного авиаотряда. На базе этого авиаотряда была
                                  | образована авиакомпания «Сибирь». С 2005 года авиакомпания «Сибирь» выполняет
                                  | полеты под брендом S7 Airlines.
                               .span3
                                  h4 Базовый аэродром
                               .span9 
                                .rinfo
                                  | Базой S7 является московский аэропорт «Домодедово», но многие рейсы авиакомпании выполняются через региональные хабы в Новосибирске («Толмачево», базовый аэропорт до 2002 года) и Иркутске.
                                  a(href='#')
                                   img(src='http://www.light-fly.ru/files/pages/6/1414/Aviakompaniia_S7_Otkryvaiet_Novyie_Rieisy_Do_Irkutska_Maghadana_I_Iakutska_Dieshievyie_Aviabiliety.png', alt='')

                               .span3
                                  h4 Достижения
                               .span9 
                                .rinfo
                                  | В 2006 году авиакомпания стала третьей в России по перевозке пассажиров начартерных рейсах, но с 2008 года большая часть чартерных рейсов отдана «Глобусу» - дочерней авиакомпании S7. С 2005 года S7 Airlines стала первым среди российских операторов продавать билеты на свои рейсы через Интернет, а в 2008 году полностью перешла на эту технологию

