html
  body
    header
      .container
        .row
          .span6
            // Logo and site link
            .logo
              h1
                a(href='index.html')
                  | Основы финансов
                  span.color .
          .span4.offset2
            .list
              // Add your phone number here
              .phone
                i.icon-phone
                |  Phone: 123-456-7890
              hr
              // Add your email id here
              .email
                i.icon-envelope-alt
                |  Email: someting@gmail.com
              hr
              // Add your address here
              .address
                i.icon-home
                |  Address: 12, Srtington Street, NY, USA
