# Git uses this file to determine which files and directories to ignore
# https://help.github.com/articles/ignoring-files

build
bower_components
node_modules
npm-debug.log
.idea/.name

.idea/compiler.xml

.idea/dictionaries/Trikster.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

DimasezPepelazz1.iml
